*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
html{
    background-image: url('background/background3.jpg'); 
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
	max-width: 1280px;
	margin:auto;
}

/* Header top social */
.header-top-area {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #22272b none repeat scroll 0 0;
    align-items: center;
    padding: 10px 0;
}
.header-top-social li {
    display: inline-block;
    margin-right: 10px;
    padding: 15px;
}
.header-top-social li:last-child {
    margin-right: 0
}
.header-top-social li a {
    display: block;
    color: #fff;
    font-size: 20px;
}
.header-top-social li a img {
    transition: all 0.6s;
}
.header-top-social li a img:hover {
    transform: scale(2);
}

/* button member */
.header-top-menu{
    margin-left: 765px;
}
.header-top-menu ul {
    padding: 10px;
    text-align: right;
}
.header-top-menu ul li{
    text-align: center;
    display: inline-block;
    background-color: rgb(255, 145, 0);
    border-radius: 15px;
    padding: 5px;
    width: 90px;
    height: 20px;
}
.header-top-menu ul li a{
    color: #fff;
    transition: all 0.3;
}

.header-top-menu ul li a:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.5);
}

/* Navigation bar */
.menu-bar {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-bottom: 1px solid #000000;
}
.menu-bar ul{
    display: flex;
}
.menu-bar ul li{
    padding: 28px 10px;
    position: relative;
    transition: all 0.2s;
}
.menu-bar ul li a{
    font-size: 20px;
    color: #000000;
    transition: all 0.6s;
    border-radius: 10px;
    padding: 22px 10px;
}
.menu-bar ul li a:hover{
    color: rgb(255, 255, 255);
}
.menu-bar ul li:hover{
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    
}
.menu-bar ul li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
    z-index: 999;
}
.dropdown-menu{
    display: none;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.dropdown-menu ul{
    
    display: block;
    margin: 10px;
}
.dropdown-menu ul li{
    width: 150px;
    padding: 5px;
}
.dropdown-menu ul li a{
    font-size: 20px;
    padding: 10px;
}
.logo{
    transition: all 0.6s
}
.logo:hover{
    transform: scale(1.2);
}
/* Footer */
footer{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.copyright-area {
    padding: 10px;
    text-align: center;
    border-top: 1px solid rgb(131, 75, 1);
    
}

.row{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col ul{
    padding-bottom: 50px;
}
.footer-col h4{
    padding-top: 25px;
	font-size: 20px;
    font-weight: bold;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(255, 0, 0);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
    font-weight: bold;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
    font-style: italic;
	text-transform: capitalize;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

